@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Shrikhand&display=swap");
body {
  box-sizing: border-box;
}

header {
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  margin-bottom: 15px;
  box-shadow: 0px 9px 12px -3px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 639px) {
  header .logo-desktop {
    display: none;
  }
}
@media screen and (min-width: 640px) {
  header .logo-mobile {
    display: none;
  }
}

.header__menu {
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  margin-bottom: 15px;
  box-shadow: none;
}
.header__menu .header__menu-back-link {
  width: 10%;
  text-align: center;
}
.header__menu .header__menu-back-link a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.header__menu .header__menu-logos {
  width: 90%;
  display: flex;
  justify-content: center;
}

body {
  background-color: #EAEAEA;
}

.location {
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 70px 15px 0;
}
.location > i {
  margin-right: 20px;
}
.location span {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.presentation {
  background-color: #F6F6F6;
  padding: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.presentation h1 {
  font-size: 25px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-bottom: 20px;
}
.presentation button {
  margin-top: 20px;
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 20px;
  border: 0;
  border-radius: 30px;
  color: white;
  box-shadow: 10px 9px 12px -3px rgba(0, 0, 0, 0.4);
}
.presentation button:hover {
  background: linear-gradient(#ae80e5, #fface8);
  box-shadow: 10px 9px 12px -3px rgba(0, 0, 0, 0.8);
}

.operation-menu {
  padding: 50px 20px 50px 30px;
  background-color: #FFFFFF;
}
.operation-menu > h2 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
}

.operation-container .operation__item {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.operation-container .operation__item a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  width: 100%;
}
.operation-container .operation__item a .operation__number {
  background-color: #9356DC;
  color: #FFFFFF;
  padding: 10px;
  border-radius: 45%;
  position: absolute;
  left: 15px;
}
@media screen and (min-width: 640px) and (max-width: 1024px) {
  .operation-container .operation__item a .operation__number {
    position: relative;
    left: 175px;
    bottom: 30px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1920px) {
  .operation-container .operation__item a .operation__number {
    position: relative;
    left: 275px;
    bottom: 30px;
  }
}
@media screen and (min-width: 1920px) {
  .operation-container .operation__item a .operation__number {
    position: relative;
    left: 350px;
    bottom: 30px;
  }
}
.operation-container .operation__item a .operation__content {
  display: flex;
  align-items: center;
  background-color: #F6F6F6;
  width: 100%;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 9px 12px -3px rgba(0, 0, 0, 0.2);
}
.operation-container .operation__item a .operation__content i {
  color: #8E8E8E;
  font-size: 20px;
  padding-left: 20px;
  margin-right: 20px;
}
.operation-container .operation__item a .operation__content span {
  font-weight: bold;
}
.operation-container .operation__item a .operation__content:hover {
  background-color: #F6EDFF;
  box-shadow: 0px 13px 17px -3px rgba(0, 0, 0, 0.45);
}
.operation-container .operation__item a .operation__content:hover i {
  color: #9356DC;
}
@media screen and (min-width: 640px) and (max-width: 1024px) {
  .operation-container .operation__item a .operation__content {
    width: 300px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1920px) {
  .operation-container .operation__item a .operation__content {
    width: 500px;
    justify-content: center;
  }
}
@media screen and (min-width: 1920px) {
  .operation-container .operation__item a .operation__content {
    width: 700px;
    justify-content: center;
  }
}
@media screen and (min-width: 640px) and (max-width: 1024px) {
  .operation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1920px) {
  .operation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 1920px) {
  .operation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.restaurant {
  padding: 50px 20px 50px 30px;
}
.restaurant h2 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
}
.restaurant .restaurant__container .restaurant__item {
  box-shadow: 0px 13px 17px -3px rgba(0, 0, 0, 0.45);
  border-radius: 30px;
  margin-bottom: 20px;
}
.restaurant .restaurant__container .restaurant__item a {
  text-decoration: none;
  color: black;
}
.restaurant .restaurant__container .restaurant__item a .restaurant__bck {
  width: 100%;
  height: 180px;
  background-position: center;
  background-size: cover;
  border-radius: 30px 30px 0 0;
}
@media screen and (min-width: 1920px) {
  .restaurant .restaurant__container .restaurant__item a .restaurant__bck {
    height: 350px;
  }
}
.restaurant .restaurant__container .restaurant__item a .restaurant__bck .restaurant__new {
  display: flex;
  padding: 20px;
  justify-content: flex-end;
}
.restaurant .restaurant__container .restaurant__item a .restaurant__bck .restaurant__new span {
  background-color: #99E2D1;
  color: #337563;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
}
.restaurant .restaurant__container .restaurant__item a .la-palette {
  background-image: url("../../assets/img/restaurant/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}
.restaurant .restaurant__container .restaurant__item a .la-note {
  background-image: url("../../assets/img/restaurant/stil-u2Lp8tXIcjw-unsplash.jpg");
}
.restaurant .restaurant__container .restaurant__item a .la-française {
  background-image: url("../../assets/img/restaurant/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}
.restaurant .restaurant__container .restaurant__item a .la-folie {
  background-image: url("../../assets/img/restaurant/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}
.restaurant .restaurant__container .restaurant__item a .restaurant__content {
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-radius: 0 0 30px 30px;
}
.restaurant .restaurant__container .restaurant__item a .restaurant__content ul li {
  margin-bottom: 10px;
}
.restaurant .restaurant__container .restaurant__item a .restaurant__content ul li:first-child {
  font-weight: bold;
  font-size: 18px;
}
.restaurant .restaurant__container .restaurant__item a .restaurant__content i {
  font-size: 20px;
  color: #F6F6F6;
}
.restaurant .restaurant__container .restaurant__item a .restaurant__content i:hover {
  color: #9356DC;
}
@media screen and (min-width: 1024px) and (max-width: 1920px) {
  .restaurant .restaurant__container .restaurant__item {
    width: 450px;
  }
}
@media screen and (min-width: 1920px) {
  .restaurant .restaurant__container .restaurant__item {
    width: 600px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1920px) {
  .restaurant .restaurant__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1920px) {
  .restaurant .restaurant__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

footer {
  background-color: #353535;
  padding: 20px 0 30px 20px;
}
footer h2 {
  font-family: "Shrikhand", cursive;
  font-size: 20px;
  color: white;
  margin-bottom: 20px;
}
footer ul li {
  margin-bottom: 15px;
}
footer ul li a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: white;
}
footer ul li:first-child a span {
  margin-left: 18px;
}
footer ul li:nth-child(1n) a span {
  margin-left: 5px;
}

.menu__thumbnail {
  background-size: cover;
  background-position: center;
  margin-top: -15px;
  height: 600px;
  width: 100%;
  margin-bottom: -40px;
}

.menu__container {
  padding: 40px 20px 0 20px;
  background-color: #F6F6F6;
  border-radius: 30px 30px 0 0;
}
.menu__container .menu__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.menu__container .menu__title h1 {
  font-size: 3em;
  font-family: "Shrikhand", cursive;
}
.menu__container .menu__title i {
  font-size: 3em;
}
.menu__container .menu {
  margin-bottom: 40px;
}
.menu__container .menu h2 {
  margin-bottom: 30px;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
}
.menu__container .menu h2:after {
  content: "";
  display: block;
  width: 5%;
  padding-top: 5px;
  border-bottom: 5px solid #99e2d1;
}
.menu__container .menu .menu__item {
  background-color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  padding: 15px 15px 5px 15px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 10px 9px 12px -3px rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
}
.menu__container .menu .menu__item .menu__item-content ul li {
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-size: 20px;
}
.menu__container .menu .menu__item .menu__item-content ul li:first-child {
  font-weight: bold;
  font-size: 24px;
}
.menu__container .menu .menu__item .menu__item-price {
  display: flex;
  align-items: flex-end;
}
.menu__container .menu .menu__item .menu__item-price span {
  font-weight: bold;
}
.menu__container .menu .menu__item:hover {
  background-color: #F6EDFF;
  box-shadow: 10px 9px 12px -3px rgba(0, 0, 0, 0.4);
}

.btn {
  display: flex;
  justify-content: center;
}
.btn button {
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 20px;
  border: 0;
  border-radius: 30px;
  color: white;
  box-shadow: 10px 9px 12px -3px rgba(0, 0, 0, 0.4);
  letter-spacing: 1px;
  padding: 20px 40px;
  margin-bottom: 50px;
}
.btn button:hover {
  background: linear-gradient(#ae80e5, #fface8);
  box-shadow: 10px 9px 12px -3px rgba(0, 0, 0, 0.8);
}

.sens {
  background-image: url("../../assets/img/restaurant/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

.francaise {
  background-image: url("../../assets/img/restaurant/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

.palette {
  background-image: url("../../assets/img/restaurant/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}

.note {
  background-image: url("../../assets/img/restaurant/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

/*# sourceMappingURL=style.css.map */
