.menu__thumbnail{
  @include menu__thumbnail;
}
.menu__container{
  @include menu__container-setup;
  .menu__title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    h1{
      font-size: 25px;
      font-family: "Shrikhand", cursive;
    }
    i{
      font-size: 25px;
    }
  }
  .menu__super-container{
    .menu{
      margin-bottom: 40px;
      h2{
        margin-bottom: 30px;
        font-family: $roboto;
        font-size: 20px;
        &:after{
          content: "";
          display: block;
          width: 20%;
          padding-top: 5px;
          border-bottom: 5px solid #99e2d1;
          @media screen and (min-width: 768px) and (max-width: 1023px){
            width: 8%;
          }
          @media screen and (min-width: 1024px) and (max-width: 1439px){
            width: 6%;
          }
          @media screen and (min-width: 1440px) and (max-width: 2559px) {
            width: 4%;
          }
          @media screen and (min-width: 2560px){
            width: 10%;
          }
        }
      }
      .menu__item{
        @include menu__item;
        animation: translateMenu 700ms ease-in-out backwards;
        animation-delay: 3200ms;
        .menu__item-content{
          ul{
            li{
              margin-bottom: 10px;
              font-family: $roboto;
              font-weight: lighter;
              font-size: 15px;
            }
            li:first-child{
              font-weight: bold;
              font-size: 16px;
            }
            @media screen and (min-width: 1920px){
              li{
                font-size: 30px;
              }
              li:first-child{
                font-size: 30px;
              }
            }
          }
        }
        .menu__item-price{
          display: flex;
          align-items: flex-end;
          margin-bottom: 10px;
          span{
            font-weight: bold;
          }
        }
        &:hover{
          background-color: #F6EDFF;
          box-shadow: 10px 9px 12px -3px rgba(0,0,0,0.40);
        }
      }
    }
    @media screen and (min-width: 1920px){
      display: flex;
      justify-content: space-around;
    }
  }
}
.btn{
  display: flex;
  justify-content: center;
  button{
    @include button-style;
    letter-spacing: 1px;
    padding: 20px 40px;
    margin-bottom: 50px;
    &:hover{
      background: linear-gradient(lighten($color-primary, 10%), lighten($color-secondary, 10%));
      box-shadow: 10px 9px 12px -3px rgba(0,0,0,0.80);
    }
  }
}
