.menu__thumbnail{
  @include menu__thumbnail;
}
.menu__container{
  @include menu__container-setup;
  .menu__title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1{
      font-size: 4em;
      font-family: "Shrikhand", cursive;
    }
    i{
      font-size: 4em;
    }
  }
  .menu__entree{
    h2{
      &:after{
        content: "";
        display: block;
        width: 5%;
        padding-top: 5px;
        border-bottom: 1px solid #99e2d1;
      }
    }
  }
}
