.menu__thumbnail{
  @include menu__thumbnail;
}
.menu__container{
  @include menu__container-setup;
  .menu__title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    h1{
      font-size: 25px;
      font-family: "Shrikhand", cursive;
    }
    i{
      font-size: 25px;
      transition: color 400ms ease-in-out;
      &:hover{
        color: $color-primary;
      }
    }
  }
  .menu__super-container{
    .menu{
      margin-bottom: 40px;
      h2{
        margin-bottom: 30px;
        font-family: $roboto;
        font-size: 20px;
        &:after{
          content: "";
          display: block;
          width: 20%;
          padding-top: 5px;
          border-bottom: 5px solid #99e2d1;
          @media screen and (min-width: 768px) and (max-width: 1023px){
            width: 8%;
          }
          @media screen and (min-width: 1024px) and (max-width: 1439px){
            width: 6%;
          }
          @media screen and (min-width: 1440px) and (max-width: 2559px) {
            width: 4%;
          }
          @media screen and (min-width: 2560px){
            width: 10%;
          }
        }
      }
      .menu__item{
        @include menu__item;
        animation: translateMenu 700ms ease-in-out 3200ms backwards;
        overflow: hidden;

        .menu__item-content{
          width: 90%;
          transition: width 1500ms ease-in-out;
          padding: 15px 15px 5px 15px;
          overflow: hidden;
          text-overflow: ellipsis;
          ul{
            white-space: nowrap;
            li{
              margin-bottom: 10px;
              font-family: $roboto;
              font-weight: lighter;
              font-size: 13px;
              text-overflow: ellipsis;
              overflow: hidden;
            }
            li:first-child{
              font-weight: bold;
              font-size: 15px;
            }
            @media screen and (min-width: 1920px){
              li{
                font-size: 30px;
              }
              li:first-child{
                font-size: 30px;
              }
            }
          }
        }
        .menu__item-price{
          width: 10%;
          display: flex;
          align-items: flex-end;
          justify-content: center;
          margin-bottom: 10px;
          padding: 15px 15px 5px 15px;
          span{
            font-weight: bold;
          }
        }
        .menu__item-check{
          background-color: $color-tertiary;
          width: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: all 1500ms ease-in-out;
          .menu__item-valid{
            background-color: white;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            transform: translateX(35px) rotate(0);
            transition: all 1500ms ease-in-out ;
            i{
              color: $color-tertiary;
              font-size: 16px;
            }
          }
        }
        &:hover{
          .menu__item-content{
            width: 55%;
            text-overflow: ellipsis;
            overflow: hidden;
            ul{
              text-overflow: ellipsis;
              overflow: hidden;
              li{
                text-overflow: ellipsis;
                overflow: hidden;
              }
            }
          }
          .menu__item-check{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 25%;
            .menu__item-valid{
              display: flex;
              justify-content: center;
              align-items: center;
              width: 50px;
              height: 50px;
              border-radius: 50%;
              transform: translateX(0) rotate(360deg);
            }
          }
        }
        @media screen and (min-width: 1920px){
          width: 550px;
          height: 130px;
          align-items: center;
        }
      }
    }
    @media screen and (min-width: 1920px){
      display: flex;
      justify-content: space-around;
    }
  }
}
.btn{
  display: flex;
  justify-content: center;
  button{
    @include button-style;
    letter-spacing: 1px;
    padding: 20px 40px;
    margin-bottom: 50px;
    &:hover{
      background: linear-gradient(lighten($color-primary, 10%), lighten($color-secondary, 10%));
      box-shadow: 10px 9px 12px -3px rgba(0,0,0,0.80);
    }
  }
}
