.operation-menu{
  @include general-padding;
  background-color: #FFFFFF;
  > h2{
    font-family: $roboto;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
  }
}
.operation-container{
  .operation__item{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    a{
      display: flex;
      align-items: center;
      text-decoration: none;
      color: black;
      width: 100%;
      .operation__number{
        @include operation__number;
        @media screen and (min-width: 640px) and (max-width: 1024px){
          position: relative;
          left: 175px;
          bottom: 30px;
        }
        @media screen and (min-width: 1024px) and (max-width: 1920px){
          position: relative;
          left: 275px;
          bottom: 30px;
        }
        @media screen and (min-width: 1920px){
          position: relative;
          left: 350px;
          bottom: 30px;
        }
      }
      .operation__content{
        display: flex;
        align-items: center;
        @include menu;
        i{
          color: #8E8E8E;
          font-size: 20px;
          padding-left: 20px;
          margin-right: 20px;
        }
        span{
          font-weight: bold;
        }
        &:hover{
          background-color: #F6EDFF;
          box-shadow: 0px 13px 17px -3px rgba(0,0,0,0.45);
          i{
            color: $color-primary;
          }
        }
        @media screen and (min-width: 640px) and (max-width: 1024px){
          width: 300px;
        }
        @media screen and (min-width: 1024px) and (max-width: 1920px){
          width: 500px;
          justify-content: center;
        }
        @media screen and (min-width: 1920px){
          width: 700px;
          justify-content: center;
        }
      }
    }
  }
  @media screen and (min-width: 640px) and (max-width: 1024px){
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media screen and (min-width: 1024px) and (max-width: 1920px){
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media screen and (min-width: 1920px){
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}