.restaurant{
  @include general-padding;
  h2{
    font-family: $roboto;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  .restaurant__container{
    .restaurant__item{
      box-shadow: 0px 13px 17px -3px rgba(0,0,0,0.45);
      border-radius: 30px;
      margin-bottom: 20px;
      a{
        text-decoration: none;
        color: black;
        .restaurant__bck{
          @include restaurant__bck;
          @media screen and (min-width: 1920px){
            height: 350px;
          }
          .restaurant__new{
            display: flex;
            padding: 20px;
            justify-content: flex-end;
            span{
              background-color: #99E2D1;
              color: darken(#58B69D, 20%);
              font-weight: bold;
              padding: 10px;
              border-radius: 5px;
            }
          }
        }
        .la-palette{
          background-image: url("../../assets/img/restaurant/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
        }
        .la-note{
          background-image: url("../../assets/img/restaurant/stil-u2Lp8tXIcjw-unsplash.jpg");
        }
        .la-française{
          background-image: url("../../assets/img/restaurant/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
        }
        .la-folie{
          background-image: url("../../assets/img/restaurant/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
        }
        .restaurant__content{
          @include restaurant__content;
          border-radius: 0 0 30px 30px;
          ul{
            li{
              margin-bottom: 10px;
            }
            li:first-child{
              font-weight: bold;
              font-size: 18px;
            }
          }
          i{
            font-size: 20px;
            color: #F6F6F6;
            &:hover{
              color: $color-primary;
            }
          }
        }
      }
      @media screen and (min-width: 1024px) and (max-width: 1920px){
        width: 450px;
      }
      @media screen and (min-width: 1920px){
        width: 600px;
      }
    }
    @media screen and (min-width: 1024px) and (max-width: 1920px){
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    @media screen and (min-width: 1920px){
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}



